body {
	margin: 0px;
	font-family: helvetica;
	background-color: darkgray;
}

img {
	width: 100%;

}

header {
	display: flex;
	width: 100%;
	padding: 15px 0px;
	background-color: #303030;
}

header h1 {
	color: white;
}
.logo {
	width: 50px;
	height: 50px;
	margin: 10px;
}

nav {
	width: 100%;
	display: flex;
	background-color: gray;
}

nav a {
	height: 100%;
	padding: 10px;
	background-color: #565656;
	color: white;
	text-decoration: none;
}

section {
	width: 100%;
	padding: 0px;
	margin: 0px;
}

article {
	display: inline-block;
	width: 50%;	
	padding: 0px;
}

article p, article h1 {
	padding: 15px;
}

aside {
	display: inline-block;
	width: 50%;
	float: right;
	padding: 0px;
}

aside img {
	width: 100%;
}

.back-next-container {
	display: flex;
	width: 100%;
	background-color: gray;
	justify-content: space-between;
}

.back {
	display: inline-block;
	float: left;
	height: 100%;
	width: 60px;
	padding: 15px;
	background-color: #565656;
}

.next {
	display: inline-block;
	float: right;
	height: 100%;
	width: 60px;
	padding: 15px;
	background-color: #565656;
}

.back a, .next a, .back, .next{
	font-weight: bold;
	color: black;
}

footer {
	display: flex;
	width: 100%;
	background-color: #303030;
}

.footer {
	width: 50%;
	padding: 15px;
	color: white;
}

hr {
	border-style: none;
	border-top-style: dashed;
}

video {
	width: 100%;
}

.facebook {
	display: inline-block;
	padding: 0px 10px;
	background: url('../images/social.png') no-repeat -111px -306px;
	width: 17px;
	height: 35px;
}

.twitter {
	display: inline-block;
	padding: 0px 10px;
	background: url('../images/social.png') no-repeat -2px -309px;
	width: 36px;
	height: 29px;
}

.youtube {
	display: inline-block;
	padding: 0px 10px;
	background: url('../images/social.png') no-repeat -305px -305px;
	width: 30px;
	height: 35px;
}

.facebook:hover {
	display: inline-block;
	padding: 0px 10px;
	background: url('../images/social.png') no-repeat -111px -206px;
	width: 17px;
	height: 35px;
}

.twitter:hover {
	display: inline-block;
	padding: 0px 10px;
	background: url('../images/social.png') no-repeat -2px -209px;
	width: 36px;
	height: 29px;
}

.youtube:hover {
	display: inline-block;
	padding: 0px 10px;
	background: url('../images/social.png') no-repeat -305px -205px;
	width: 30px;
	height: 35px;
}

.animation {
	background: url('../images/anime.png') no-repeat -6px -11px;
	width: 16px;
	height: 20px;
	animation: anime 2s steps(13) infinite;
	transform: translate(100px, 100px);
}

@keyframes anime {
	from {background-position-x:0px;}
	to {background-position-x:-416px;}
}